/* 1920x1080 */
* {
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: #222;
}

div.btn {
    border: 1px solid #fff;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    width: 150px;
    background-color: #666;
}
div.btn.on {
    background-color: #88d;
    color: #000;
}
#zbox.home {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
    border: 1px solid white;
    overflow: hidden;
}

#zbox.full {
    position: fixed;
    top: 150px;
    left: 0px;
    height: calc(100% - 150px);
    width: 100%;
    overflow: hidden;
    border-top: rgba(255, 255, 255, 0.2) 1px solid;
}

.actor-controls-box {
    padding: 10px;
    display: flex;
}
